* {
	font-family: 'Press Start 2P', cursive;
}

.grid {
	display: grid;
	grid-template-columns: 320px 200px;
	color: #182d3d;
	margin-left: -80px;
}

.right-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 300px;
	padding-bottom: 5px;
	color: #ffffff;
}

.game-board {
	border: solid 2px;
}

.button {
	width: 100%;
	font-size: 16px;
	padding: 12px 30px;
	cursor: pointer;
	border: none;
	color: #ffffff;
	transition: all .5s ease;
	box-shadow: 0 20px 5px -10px rgba(#000000, 0.4);
}

.pause-button {
	background-color: #e9830e;
	margin-right: 10px;
}

.pause-button:hover {
	background-color: #ce7715;
}


.stop-button {
	background-color: #f1461c;
}

.stop-button:hover {
	background-color: #be3918;
}

.play-button {
	background-color: #00cf53;
}

.play-button:hover {
	background-color: #1f964e;
}

.row {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

body {
	background-color: #182d3d;
	display: flex;
	flex-direction: column;
	align-items: center;
	translate: left();
}

canvas {
	background-color: #11212c;

	border-radius: 4px;

	-webkit-box-shadow: inset 0px 0px 20px -4px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 0px 20px -4px rgba(0,0,0,0.5);
	box-shadow: inset 0px 0px 20px -4px rgba(0,0,0,0.5);
}

canvas#next {
	padding-top: 40px;
	padding-right: 10px;

	border-radius: 4px;

	-webkit-box-shadow: inset 0px 0px 20px -4px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0px 0px 20px -4px rgba(0,0,0,0.3);
	box-shadow: inset 0px 0px 20px -4px rgba(0,0,0,0.3);
}

.on-gaming-paused { 
	text-align: center;
	display: flex;
	align-items: center;
}

.stoped .on-stoped {
	display: block;
}

.stoped .on-gaming-paused {
	display: none;
}

.stoped .on-gaming {
	display: none;
}

.stoped .on-paused {
	display: none;
}

.gaming .on-stoped {
	display: none;
}

.gaming .on-gaming-paused {
	display: flex;
}

.gaming .on-gaming {
	display: flex;
}

.gaming .on-paused {
	display: none;
}

.paused .on-stoped {
	display: none;
}

.paused .on-gaming-paused {
	display: flex;
}

.paused .on-gaming {
	display: none;
}

.paused .on-paused {
	display: block;
}