* {
	font-family: 'Press Start 2P', cursive;
}

.grid-audio-volume {
	display: flex;
	flex-direction: row;
	width: 50px;
	padding-bottom: 5px;
	color: #ffffff;
	align-items: flex-end;
}

.grid-audio-volume .audio-volume {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	transform: translateY(-70px) translateX(-40px) rotate(-90deg);
}

.grid-audio-volume .audio-volume img {
	display: block;
	transform: rotate(90deg);
	height: 20px;
	width: 20px;
}

.slider {
	transform: translateY(-2px);
	margin-left: 15px;
	display: block-inline;
	-webkit-appearance: none;
	width: 120px;
	height: 10px;
	color: rgb(243, 243, 243);
	background: linear-gradient(90deg, #7d169c 60%, rgb(243, 243, 243) 60%);
	border-radius: 50px;
	outline: none;
	border: none;
	z-index: 2222;
	opacity: 0.2;
	transition: opacity 0.2s linear;
	cursor: pointer;
}

.audio-volume:hover .slider {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	width: 20px;
	height: 20px;
	border-radius: 100px 100px;
	cursor: pointer;
}


.grid {
	display: flex;
	flex-direction: row;
	grid-template-columns: 320px 200px;
	color: #182d3d;
	margin-left: -80px;
	margin-top: 10px;
}

.right-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 280px;
	padding-bottom: 5px;
	color: #ffffff;
	padding-left: 20px;
}

.game-board {
	border: solid 2px;
}

.button {
	width: 100%;
	font-size: 16px;
	padding: 12px 10px;
	cursor: pointer;
	border: none;
	color: #ffffff;
	transition: all .5s ease;
	box-shadow: 0 20px 5px -10px rgba(#000000, 0.4);
	border-radius: 4px;
}

.pause-button {
	border: 4px solid #ff6f00;
	background-color: #d16008;
	margin-right: 10px;
}

.pause-button:hover {
	background-color: #c0590b;
}

.stop-button {
	border: 4px solid #e3412b;
	background-color: #ba2f1c;
}

.stop-button:hover {
	background-color: #972a0f;
}

.play-button {
	border: 4px solid #00ff5e;
	background-color: #08d152;
}

.play-button:hover {
	background-color: #0bb349;
	-webkit-box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.3);
}

.row {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

body {
	background-color: #182d3d;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	padding: 0;
}

canvas {
	background-color: #11212c;
	border-radius: 4px;
	-webkit-box-shadow: inset 0px 0px 20px -4px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset 0px 0px 20px -4px rgba(0, 0, 0, 0.5);
	box-shadow: inset 0px 0px 20px -4px rgba(0, 0, 0, 0.5);
}

canvas#next {
	padding-top: 40px;
	padding-right: 10px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0px 0px 20px -4px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0px 0px 20px -4px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0px 0px 20px -4px rgba(0, 0, 0, 0.3);
}

.on-txt { 
	text-align: center;
}

.on-gaming-paused {
	text-align: center;
	display: flex;
	align-items: center;
}

.stoped .on-stoped {
	display: block;
}

.stoped .on-gaming-paused {
	display: none;
}

.stoped .on-gaming {
	display: none;
}

.stoped .on-paused {
	display: none;
}

.gaming .on-stoped {
	display: none;
}

.gaming .on-gaming-paused {
	display: flexbox;
}

.gaming .on-gaming {
	display: block;
}

.gaming .on-paused {
	display: none;
}

.paused .on-stoped {
	display: none;
}

.paused .on-gaming-paused {
	display: flexbox;
}

.paused .on-gaming {
	display: none;
}

.paused .on-paused {
	display: block;
}

#game-over-modal {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 1100;
	display: flex;
	justify-content: space-between;
	display: none;
}

.active#game-over-modal {
	display: flex;
}

.modal {
	margin: auto;
	width: 450px;
	height: 250px;
	padding: 15px;
	background-color: #182d3d;
	border: 8px solid #244055;
	color: #ffffff;
	border-radius: 4px;
	-webkit-box-shadow: inset 0px 0px 20px -4px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset 0px 0px 20px -4px rgba(0, 0, 0, 0.5);
	box-shadow: inset 0px 0px 20px -4px rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.modal-title {
	height: 40px;
	margin-top: 20px;
	text-align: center;
}

.modal-text {
	height: 100px;
}

.modal .button {
	height: 50px;
	font-size: 12px;
	flex-wrap: nowrap;
	overflow-wrap: normal;
}

.modal .button.play-button {
	margin-right: 10px;
}